@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap" );

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
   
}



.one{
    background-image: url('../image/cow.jpg');
    height: 100vh;
    background-position: bottom center;
    background-size: cover;
    clip-path: polygon(53% 0, 100% 0, 100% 82%, 50% 100%, 0 83%, 0 0);
}
.one h1{
    color: rgb(245, 248, 248);
    font-size: 100px;
    text-align: center;
    font-weight: 700;
    padding-top: 60px;
    font-family: cursive;
    word-spacing: 40px;
    letter-spacing: 20px;
    
}
.two {
    width: 80%;
   /* margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    margin-bottom: 50px;*/
    margin: 60px auto;
   /* background-color: rgb(22, 151, 151);*/
   background: linear-gradient( 45deg, rgb(119, 116, 117),rgb(151, 177, 151), rgb(165, 83, 83));
    padding: 50px;
    border-width: 13px;
    border-color: rgb(168, 168, 21);
    border-style: solid;

}
.two h2, .three h2{ 
    text-align: center;
    font-size: 48px;
    
    border-color: rgb(223, 114, 114);
    border-width: 2px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-bottom: 20px;
    margin-bottom: 30px;


}
.two p{
    font-size: 28px;
    font-weight: 2em;
}
.two p #milk{
    font-size: 2em;
}
.cow-image{
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* justify-content:SPACE-around;*/ 
    
}
.cow-image div{
    min-width: 200px;

}
.cow-image img{
    width: 100%;
}
.three{
    width: 80%;
    margin: 60px auto;
    border-width: 12px;
    padding: 50px;
    border-color: rgb(100, 189, 159);
    border-style: solid;
    background: linear-gradient( 45deg,rgb(53, 42, 44),rgb(34, 114, 34),rgb(189, 78, 78));
}

